# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# Environment variables
.env

# VS Code
.vscode/

# Operating System
.DS_Store
Thumbs.db

# ======================================
# AI / ML Project
# ======================================

# Dataset
data/RDD_SPLIT/

# YOLO outputs
runs/

# Model weights
*.pt

# Runtime storage
storage/uploads/
storage/outputs/